.App{
  text-align: center;
}

.title-name{
  padding: 5px;
  width: 150px;
  height: 40px;
  background-color: lightskyblue;
  font-size: 2em;
  color:white;  
  border: 10px double white;
}

/* react는 뷰관점에서만 보여짐
useState 자동으로 보여줌(내부 상태가 바뀔 때)
useeffect(서버가 날려줄 때, 화면 업데이트가 필요할 때)

usecallback과 usememo는 언제 안보여줄꺼냐
useeffect */